@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-maroon: #701b2f;
  --color-brand-gold: #c39d5e;
  --color-brand-cream: #fbf9f6;
  --color-brand-pink: #f8c8d1;
  --color-brand-dark: #2d2d2d;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-brand-cream text-brand-dark font-sans overflow-x-hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-brand-maroon;
  }
}
